<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Simulado</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  	<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script type="text/javascript">
     $(document).ready(function(){

        $('#comecar').click(function(){

          //Validação nome do aluno
          if($('#nome_aluno').val() == ''){
           alert('Inserir nome do aluno');
           return false;
            };
          
          //Controlar Visualização
          $('#inicial').hide();
          $('#simulado').show();
         })

        $('#finalizar').click(function(){     
          //Validação Resposta
          if($('#resposta').val() == ''){
           alert('Escolha uma resposta');
           return false;
            };
          if($('#resposta').val() == 'A'){
        $('#acerto').hide();
        $('#errou').show();
      };

         })
         $('#resultado').click(function(){
           //Ver Resultado
           if($('#resposta').val() == 'A'){
        $('#acerto').hide();
        $('#errou').show();
      };
         })
      
      
})
    </script>
</head>
<body style="background-color: blueviolet;">
  <div style="background-color: white; width: 650px; height: 650px; margin: auto; " >
    <div style= "margin: 50px auto;padding: 8px;">
  {{{body}}}
  </div>
</div>
</body>
</html>
