{{#each resposta}}
<h1>Agradecemos por responder nosso simulado {{aluno}}</h1>
 <h3>Parabéns, você acertou a questão, continue assim</h3><br />
<p>A sua resposta foi a letra {{escolha}}</p>
{{/each}}

<p>A média de acerto é de {{correta}} a cada {{quantidade}}</p>
